<%= form_for(@shopping_mall) do |f| %>
    <% if @shopping_mall.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@shopping_mall.errors.count, "error") %> prohibited this shopping_mall from being
            saved:</h2>

          <ul>
            <% @shopping_mall.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :mall_type_id %>
      <br/>
      <%=collection_select(:shopping_mall, :mall_type_id, MallType.all, :id, :name) %> | <%= link_to "Create New Malltype", new_mall_type_path, :onclick=>"window.open(this.href,'create_mall_type', 'height=600, width=600');return false;" %>
    </div>

    <div class="field">
      <%= f.label :address_id %>
      <br/>
      <%=collection_select(:shopping_mall, :address_id, Address.user_related(current_user.id), :id, :address_brief    ) %> | <%= link_to "Create New Addresses", new_address_path, :onclick=>"window.open(this.href,'create_address', 'height=600, width=600');return false;" %>

    </div>
    <div class="field">
      <%= f.label :ispublished %>
      <br/>
      <%= f.check_box :ispublished %>
    </div>
    <div class="field">
      <%= f.label :image %>
      <br/>
      <%= f.file_field :image %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
