<div class="row-fluid" style="">
  <div class="span12" style="border-style:solid; border-width: 1px; height:60px; font-size: 10px">
    <ul class="button-group" style="font-size:12px">
      <li style="height:26px; font-size: 12px"><%= link_to "MORE ADS", ads_path(:ad => @ad), :class=>"small button secondary", :style => "background_color;#FF8040;color:#fffff" %></li>
      <li style="height:22px"><%= link_to "PRINT", ads_path(:ad => @ad), :class=>"small button secondary", :style => "background_color;#F87C3E;color:#fffff" %></li>
      <li style="height:22px"><%= link_to "MAP", ads_path(:ad => @ad), :class=>"small button secondary", :style => "background_color;#F87C3E;color:#fffff" %></li>
      <li style="height:22px"><%= link_to "SHARE", ads_path(:ad => @ad), :class=>"small button secondary", :style => "background_color;#F87C3E;color:#fffff" %></li>
      &nbsp;<li style="height:22px"><%= link_to "SAVE", ads_path(:ad => @ad), :class=>"small button secondary", :style => "background_color;#F87C3E;color:#fffff" %></li>
      <li style="height:22px"><%= link_to "NOTE", ads_path(:ad => @ad), :class=>"small button secondary", :style => "background_color;#F87C3E;color:#fffff" %></li>
      <li style="height:22px"><%= link_to "NOTIFY", ads_path(:ad => @ad), :class=>"small button secondary", :style => "background_color;#F87C3E;color:#fffff" %></li>
      <li style="height:22px"><%= link_to "CALL", ads_path(:ad => @ad), :class=>"small button secondary", :style => "background_color;#F87C3E;color:#fffff" %></li>
    </ul>
  </div>
</div>