<h1>Listing ad_positions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ispublished</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @ad_positions.each do |ad_position| %>
      <tr>
        <td><%= ad_position.name %></td>
        <td><%= ad_position.ispublished %></td>
        <td><%= link_to 'Show', ad_position %></td>
        <td><%= link_to 'Edit', edit_ad_position_path(ad_position) %></td>
        <td><%= link_to 'Destroy', ad_position, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Ad position', new_ad_position_path %>
