<br/>
<br/>

<h2>Ad Categories</h2>

<% ('A'..'Z').each do |char| %>

    <% if char==params[:char] %>
        <%= link_to char, ad_categories_path(:char => char), :class => 'selected_char' %>
    <% else %>
        <%= link_to char, ad_categories_path(:char => char) %>
    <% end %>
<% end %>

<%= link_to "ALL", ad_categories_path %>

<br/>
<%= link_to 'New Ad category', new_ad_category_path %>

<!--
  <tr>
    <th>Name</th>
    <th>SubCategories Ids</th>
    <th>Parent Category</th>
    <th>Introtext</th>
    <th>Image</th>
  </tr>
-->
    <% @ad_categories.each do |ad_category| %>
            <div class="ad_category">
              <%= render :partial =>"ad_categories/ad_category_content", :locals => {:ad_category => ad_category} %>
              <div class="clear: both"></div>
            </div>
    <% end %>

<br/>



