

<p>
  <b>Name:</b>
  <%= @ad_category.name %>
</p>
<p>
  <% if @ad_category.image.to_s != ''  %>
      <%=image_tag(@ad_category.image.to_s, :height => '157', :width => '217') %>
  <% else %>
      <%=image_tag("/images/dummy.jpeg", :height => '157', :width => '217') %>
  <% end %>
</p>
<p>
  <b>Introtext:</b>
  <%= @ad_category.introtext %>
</p>


<div class="ad_category_ads">
  <% @ads = Ad.where(' ad_category_id = ?', "#{@ad_category.id}").paginate(:per_page => 12, :page => params[:page])%>
  <%= render :partial =>"ads/ads", :locals => {:ads=> @ads} %>

</div>

<%= link_to 'Edit', edit_ad_category_path(@ad_category) %> |
<%= link_to 'Back', ad_categories_path %>
