<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @city_service.title %>
</p>
<p>
  <% if @city_service.image.to_s != ''  %>
      <%=image_tag(@city_service.image.to_s, :height => '157', :width => '217') %>
  <% else %>
      <%=image_tag("/images/dummy.jpeg", :height => '157', :width => '217') %>
  <% end %>
</p>
<p>
  <b>Description:</b>
  <%= @city_service.description %>
</p>

<p>
  <b>City service category:</b>
  <%= @city_service.city_service_category_id %>
</p>

<p>
  <b>Ispublished:</b>
  <%= @city_service.ispublished %>
</p>


<%= link_to 'Edit', edit_city_service_path(@city_service) %> |
<%= link_to 'Back', city_services_path %>
