<table>
  <tr>
    <th>Business item</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmark_business_items.each do |bookmark_business_item| %>
  <tr>
    <td><%= bookmark_business_item.business_item_id %></td>
    <td><%= bookmark_business_item.user_id %></td>
    <td><%= link_to 'Show', bookmark_business_item %></td>
    <td><%= link_to 'Edit', edit_bookmark_business_item_path(bookmark_business_item) %></td>
    <td><%= link_to 'Destroy', bookmark_business_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark business item', new_bookmark_business_item_path %>
