<table>
  <tr>
    <th>Title</th>
    <th>Business item category</th>
    <th>Company</th>
    <th>Shopping mall</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @business_items = BusinessItem.where("user_id = ? ", current_user.id).paginate(:per_page => 4, :page => params[:page]) %>

  <% @business_items.each do |business_item| %>
      <tr>
        <td><%= business_item.title %></td>
        <td><%= business_item.business_item_category_id %></td>
        <td><%= business_item.company_id %></td>
        <td><%= business_item.shopping_mall_id %></td>
        <td><%= business_item.address_id %></td>
        <td><%= link_to 'Show', business_item %></td>
        <% if user_signed_in? && business_item.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_business_item_path(business_item) %></td>
            <td><%= link_to 'Destroy', business_item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>

      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Business item', new_business_item_path %>
