<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @business_item.title %>
</p>

<p>
  <% if @business_item.image.to_s != ''  %>
      <%=image_tag(@business_item.image.to_s, :height => '157', :width => '217') %>
  <% else %>
      <%=image_tag("/images/dummy.jpeg", :height => '157', :width => '217') %>
  <% end %>
</p>
<div class="category">
  <b>Business item category:</b>
  <%= link_to @business_item.business_item_category.name, BusinessItemCategory.find(@business_item.business_item_category_id || 0) %> ===>
  <%= link_to "#{pluralize(BusinessItem.find_all_by_business_item_category_id(@business_item.business_item_category.id).count, 'Business Item')} for this category" , ads_path(:ad_category_id => @business_item.business_item_category.id) %>
</div>

<div class="company">
  <b>Company:</b>
  <%= link_to @business_item.company.name, Company.find(@business_item.company_id || 0) %> ===>
  <%= link_to "#{pluralize(BusinessItem.find_all_by_company_id(@business_item.company.id).count, 'Business Item')} with this mall", business_items_path(:company_id => @business_item.company.id) %>
</div>
<div class="shopping_mall">
  <b>Shopping mall:</b>
  <%= link_to @business_item.shopping_mall.name, ShoppingMall.find(@business_item.shopping_mall_id || 0) %> ===>
  <%= link_to "#{pluralize(BusinessItem.find_all_by_shopping_mall_id(@business_item.shopping_mall.id).count, 'Business Item')} for this mall", business_items_path(:shopping_mall_id => @business_item.shopping_mall.id) %>
</div>

<% if user_signed_in? && @business_item.user_id == current_user.id %>
    <%= link_to 'Edit', edit_business_item_path(@business_item) %>  |
<% end %>
<%= link_to 'Back', business_items_path %>
