<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>
<p>
  <% if @company.image.to_s != ''  %>
      <%=image_tag(@company.image.to_s, :height => '157', :width => '217') %>
  <% else %>
      <%=image_tag("/images/dummy.jpeg", :height => '157', :width => '217') %>
  <% end %>
</p>
<p>
  <b>Owner name:</b>
  <%= @company.owner_name %>
</p>

<p>
  <b>User:</b>
  <%= @company.user_id %>
</p>

<p>
  <b>Info:</b>
  <%= @company.info %>
</p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @company.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>


<div class="company_ads">
  <% @ads = Ad.where(' company_id = ?', "#{@company.id}").paginate(:per_page => 12, :page => params[:page])%>
  <%= render :partial =>"ads/ads", :locals => {:ads=> @ads} %>

</div>

<div class="shopping_mall_business_items">
  <% @business_items = BusinessItem.where(' company_id = ?', "#{@company.id}").paginate(:per_page => 12, :page => params[:page])%>
  <%= render :partial =>"business_items/business_items", :locals => {:business_items => @business_items } %>

</div>

<% if user_signed_in? && @company.user_id == current_user.id %>
    <%= link_to 'Edit', edit_company_path(@company) %> |
    <%= link_to "Back to My Account", "/info/user_account_page" %>
<% end %>


