
<table>
  <tr>
    <th>Job</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmark_jobs.each do |bookmark_job| %>
  <tr>
    <td><%= bookmark_job.job_id %></td>
    <td><%= bookmark_job.user_id %></td>
    <td><%= link_to 'Show', bookmark_job %></td>
    <td><%= link_to 'Edit', edit_bookmark_job_path(bookmark_job) %></td>
    <td><%= link_to 'Destroy', bookmark_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark job', new_bookmark_job_path %>
