<h1>Listing bookmark_ads</h1>

<table>
  <tr>
    <th>Ad</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmark_ads.each do |bookmark_ad| %>
  <tr>
    <td><%= bookmark_ad.ad_id %></td>
    <td><%= bookmark_ad.user_id %></td>
    <td><%= link_to 'Show', bookmark_ad %></td>
    <td><%= link_to 'Edit', edit_bookmark_ad_path(bookmark_ad) %></td>
    <td><%= link_to 'Destroy', bookmark_ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark ad', new_bookmark_ad_path %>
