<p id="notice"><%= notice %></p>

<p>
  <b>Contact name:</b>
  <%= @address.contact_name %>
</p>

<p>
  <b>Email:</b>
  <%= @address.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @address.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @address.fax %>
</p>

<p>
  <b>Address line one:</b>
  <%= @address.address_line_one %>
</p>

<p>
  <b>Address line two:</b>
  <%= @address.address_line_two %>
</p>

<p>
  <b>Postal code:</b>
  <%= @address.postal_code %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>Country:</b>
  <%= @address.country %>
</p>

<p>
  <b>Website:</b>
  <%= @address.website %>
</p>

<p>
  <b>Google map code:</b>
  <%= @address.google_map_code %>
</p>

<p>
  <b>Chat code:</b>
  <%= @address.chat_code %>
</p>

<p>
  <b>Ispublished:</b>
  <%= @address.ispublished %>
</p>

<p>
  <b>User:</b>
  <%= @address.user_id %>
</p>

<p>
  <b>Street:</b>
  <%= @address.street %>
</p>

<p>
  <b>Latitude:</b>
  <%= @address.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @address.longitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @address.gmaps %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
