<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @emergency_number.name %>
</p>
<p>
  <% if @emergency_number.image.to_s != ''  %>
      <%=image_tag(@emergency_number.image.to_s, :height => '157', :width => '217') %>
  <% else %>
      <%=image_tag("/images/dummy.jpeg", :height => '157', :width => '217') %>
  <% end %>
</p>
<p>
  <b>Value:</b>
  <%= @emergency_number.value %>
</p>

<p>
  <b>Priority:</b>
  <%= @emergency_number.priority %>
</p>

<p>
  <b>Ispublished:</b>
  <%= @emergency_number.ispublished %>
</p>


<%= link_to 'Edit', edit_emergency_number_path(@emergency_number) %> |
<%= link_to 'Back', emergency_numbers_path %>
