<%= form_for(@business_item_category) do |f| %>
    <% if @business_item_category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@business_item_category.errors.count, "error") %> prohibited this business_item_category
            from being saved:</h2>

          <ul>
            <% @business_item_category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :parent_category_id %>
      <br/>
      <%= f.collection_select(:parent_category_id, BusinessItemCategory.all, :id, :name)%>
    </div>
    <div class="field">
      <%= f.label :introtext %>
      <br/>
      <%= f.text_field :introtext %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :ispublished %>
      <br/>
      <%= f.check_box :ispublished %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
